.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-top: 9px;
}

.header img{
    width: 16px;
    height: 25px;
    opacity: 0.5;
}

.header img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.header a{
    border: 0;
    text-decoration: none;
    color: black;
}

.header a:hover{
    text-decoration: underline;
    color: #6d6363;
}

.header button{
    background-color: #327bce;;
    border-radius: 2px;
    border: none;
    height: 30px;
    color: rgb(253, 247, 247);
    font-size: 14px;
    font-weight: bold;
}

.header button:hover{
    cursor: pointer;
}

/* middle section */
.google img{
    padding-top: 109px;
    position: absolute;
    left: 40%;
    width: 272px;
    height: 92px;
}

.search-box{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline-color: black;
    background-color: #ffffff;
    height: 32px;
    width: 560px;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 1px 1px #ccc;
}

.search-box:hover{
    box-shadow: 1px 2px #ccc;
}

.search-btn{
    color: #ccc;
    float: left;
    width: 60px;
    height: 42px;
    border-radius: 50%;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 16px;
    line-height: 32px;
    width: 480px;
}

.bbtn {
    position: absolute;
    top: 57%;
    left: 38%;
    padding: 10px;
}

.bbtn2{
    position: absolute;
    top: 57%;
    left: 51%;
    padding: 10px;
}

.bbtn-c{
    font-family: Arial, sans-serif;
    border-radius: 4px;
    background-color:#f2f2f2;
    color: gray;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    border: solid 1px #f2f2f2;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.bbtn-c:hover {
    border: solid 1px #b7b7b8;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
}

.stay-home{
    position: absolute;
    top: 59%;
    left: 45%;
    text-decoration: none;
    padding-top: 20px;
    margin-top: 30px;
    color: #1a0dab;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.stay-home a{
    text-decoration: none;
    color: #1a0dab;
    text-align: center;
}

.stay-home a:hover{
    text-decoration: underline;
}

.g-offer-language{
    position: absolute;
    top: 73%;
    left: 35%;
    font-size: small;
    font-family: Arial, sans-serif;
    text-align: center;
}

.g-offer-language a{
    color: #1a0dab;
    font-family: Arial, sans-serif;
    font-size: small;
    text-decoration: none;
}

.g-offer-language a:hover{
    text-decoration: underline;
}

.box1{
    position: absolute;
    top: 90%;
    border: solid 0.5px rgb(204, 203, 203);
    background-color: rgb(238, 236, 236);
    width: 100%;
    color: #6d6666;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 30px;
}

.box2{
    position: absolute;
    top:95%;
    border: solid 0.5px rgb(204, 203, 203);
    background-color: rgb(238, 236, 236);
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 17px;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
}

.box2 a{
    text-decoration: none;
    color: #6d6666;
}

.box2 a:hover{
    text-decoration: underline;
}

.right-wing{
    position: absolute;
    left: 83%;
    top: 94%;
    float: right;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6d6666;
    display: flex;
    align-items: center;
    text-align: center;
}

.right-wing a{
    text-decoration: none;
    color: #6d6666;
}

.right-wing a:hover{
    text-decoration: underline;
}